@use "@/styles/variables" as *;

.button {
  padding: 8px 16px;
  font-size: 14px;
  transition: all 0.3s;
  color: $text-primary;
  border: none;
  border-radius: 8px;
  background-color: transparent;
}

.solid {
  background-color: $accent-blue;
  &:hover {
    background-color: $accent-blue-dim;
  }
}

.outline {
  background-color: $bg-card;
  border: 1px solid $border;
  &:hover {
    border: 1px solid $text-muted;
  }
}

.ghost {
  &:hover {
    background-color: $border;
  }
}
